@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root{
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --card-bg-color:#3b4466;
    --text-color: #fff;
    --main-color: #59b2f4;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);   
}



#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    
    animation: floatImage 4s ease-in-out infinite;
    background: var(--main-color);
    border-radius: 100%;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(#262b40,#3b4466);
}

.about-img img{
    width: 20vw;
    background: var(--main-color);
    padding: 0 2.8rem;
}

.headding{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size:  2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}


.diplomas{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:linear-gradient(#262b40,#3b4466);
}
.h{
    font-size: 3rem;
    margin: 0 0 3rem;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select:none;
    display: block;
    background: var(--bg-color);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border-color: var(--main-color);
}
.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{

    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 16px 0 18px;
    color: var(--bg-color);
    background: var(--main-color);
    font-weight:var(--bg-color);
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: var(--text-color);
    font-weight: 600;
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: var(--main-color);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid var(--main-color);
    transform: rotate(-45deg);

}


.card-list .card-link:hover .card-button{
    color: #fff;
    background: var(--main-color);
}


.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: var(--main-color);
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: #5372F0;
    margin-top: -35px; 
}

@media screen and (max-width: 768){
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}

/* skills section */

.skills{
    background: var(--bg-color);
}

.skills .containersk{
    background: #262b40;
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    border-radius:1rem;
    
}

.skills .containersk .row{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 20px 20px;
}

.skills .containersk .bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.skills .containersk .bar:hover{
    box-shadow: var(--main-color);
    transform: scale(1.03);
}

.skills .containersk .bar .info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .containersk .bar .info .span1{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem ;
}  

.skills .containersk .bar .info .imgSK{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;   
}

/*portafolio*/
.portfolio{
    background: var(--snd-bg-color);    
    overflow: hidden;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;

}

.portfolio-container .portfolio-box{
    position:relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.Energia1{
    grid-column: 0; /* Primera columna */
    grid-row: 1
}

.Energia2{
    grid-column: 1; /* Primera columna */
    grid-row: 1
}
.Energia3{
    grid-column: 2; /* Primera columna */
    grid-row: 1
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img{
    transform: scale(1.1);

}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #488fc6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:  0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}


.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.a1 {
    display: flex;
    justify-content: center; /* Corrige el typo 'fle' por 'center' */
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    transition: transform 0.3s ease;
    background: 0.3s ease; /* Añade transición para efectos suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Mejora el diseño con un sombreado ligero */
    position: relative;
    overflow: hidden;

}

.portfolio-layer .a1:hover {
    transform: scale(1.1); /* Añade un efecto de agrandamiento al pasar el mouse */
    background: var(--highlight-color); /* Cambia el color de fondo en hover */
}

.portfolio-layer .a1 i {
    font-size: 2rem;
    color: var(--card-bg-color);
    transition: color 0.3s ease; 
}

.portfolio-layer .a1:hover i {
    color: var(--text-color); 
}

/*contacto*/

.contact h2 {
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}


.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;

}


.contact form textarea{
    resize:  none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;

}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);


}

.footer-text{
    font-size: 1.6rem;
}


.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:.8rem 1rem ;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;

}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}


.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--snd-bg-color)
}


/*Breakpoint*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }


}

@media (max-widht:991px){
    .header{
        padding: 2rem 3%;
    }
    
    section{
        padding: 10rem 3%;
    }
    
    .skills{
        padding: 7rem;
    }
    
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }
    

    .footer{
        padding: 2rem 3%;
    }

}
 
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .home{
        flex-direction: column;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        align-items: center;
        flex-direction: column;
    }

    .navbar .active{
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content {
        order:2;
    }
    .home-img img{
        width: 60vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }
    
    .about-img img{
        width: 40vw;
        margin-top: 4rem;
    }
    .skills h2 {
        font-size: 3rem;
    }

    .containersk {
        flex-direction: column; /* Acomoda en columna */
        gap: 1rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(3,1fr);
    }

}

@media(max-width: 617px){
    
    .home-img img{
        width: 30vh;
        margin-top: 7rem;
    }
    .about-img .img{
        width: 30vw;
        margin-top: 4rem;

    }
    .Energia2{
        grid-column: 1; /* Primera columna */
        grid-row: 1
    }
    .skills .containersk .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        flex-wrap: nowrap;
        gap: 0.5rem;
        padding: 5px 5px;
    }
    
    .skills .containersk .bar{
        margin-bottom: 8px;
        padding: 5px;

    }
    .portfolio-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
        flex-wrap: nowrap;
        
    }
}

@media(max-width: 450px){
    html{
        font-size: 50%;
    }
    
   

    
}